<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <title><%=pagetitle%></title>
    <style>
      
       .image{
       border-top: 20px;
        border-left: 60px;
        margin-left: 600px;
        margin-top: 30px;
       }
       .button{ border-top: 20px;
        border-left: 20px;
        margin-left: 590px;
        margin-top: 45px;

       }
    </style>
</head>
<body>
    <form action="/auth/google">
<img class ="image" src="https://www.thrilleasy.com/images/logo.png" >
<button class="button">
    Signin with Thrilleasy account
</button>
    </form>
</body>
</html>